<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Attack_ATMB.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <Attack_ATMB.Properties.Settings>
            <setting name="FolderPath" serializeAs="String">
                <value>C:\Attack_DiChuyen_HoanVi\Attack_ATMB\Attack_ATMB\</value>
            </setting>
            <setting name="Setting" serializeAs="String">
                <value />
            </setting>
        </Attack_ATMB.Properties.Settings>
    </userSettings>
</configuration>